@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checkbox {
    position: relative;
    display: flex;
    width: 62px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  }

  .checkbox input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
  }

  .checkbox .checkmark {
    width: 26px;
    height: 26px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    transform: translate(2px, 1px);
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  .checkbox.checked {
    background-color: #f3a952;
    border-color: #f3a952;
  }

  .checkbox.disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .checkbox.disabled .checkmark {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .checkbox:focus-within {
    border-color: var(--color-checkbox);
  }

  .checkbox input:checked + .checkmark {
    transform: translate(32px, 1px);
  }

  .slider {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }

  .slider::-moz-range-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }

  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }

  .slider:disabled::-webkit-slider-thumb {
    background: #423d32;
    border-color: #423d32;
    cursor: auto;
  }
  .slider:focus::-webkit-slider-thumb {
    border-color: var(--color-primary);
  }

  .slider:disabled::-moz-range-thumb {
    background: #423d32;
    border-color: #423d32;
    cursor: auto;
  }
  .slider:focus::-moz-range-thumb {
    border-color: var(--color-primary);
  }
}

:root {
  --color-primary-rgba: 243 169 82;
  --color-secondary-rgba: 45 39 34;
  --color-primary: #f3a952;
  --color-secondary: #2c2723;
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Space Mono', system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  user-select: none;
  background-color: #14141d;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  outline: none;
  caret-color: var(--color-primary);
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}
